.box1000{
    position: relative;
    display: inline-block;
}

.box2000{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.box3000{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.box3000 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.box3000 a:hover {background-color: #f1f1f1}

.box1000:hover .box3000{
    display: block;
}

.box1000:hover .box2000{
    background-color: #3e8e41;
}