body{
    margin: 0 auto;
    max-width: 780px;
    min-width: 320px;
}

/*.wrap{margin: 3% 0 0 3%;*/
    /*!*overflow: hidden;*!*/
/*}*/
div{
    float:left;
    width: 30%;
    padding: 30% 0 0 0;
    margin: 0 3% 3% 0;
    background: orange;
    border-radius: 10px;
}

.button{
    width: 94%;
    height: 60px;
    background: none;
    border: 1px solid orange;
    margin: 10px;
}
.button:hover{
    background: orange;
    color: #fff;
}